<!DOCTYPE html>
<html>
<head>
    <title>Fizz Chatroom</title>
    <script type="text/javascript" src="../static/js/socket.io-1.3.7.js"></script>
    <script type="text/javascript" src="../static/js/login.js"></script>
</head>
<body>
     <form id="loginInfo" action="/join" method="get">
        用户名：<input type="text" name="nickname" id="nickname"><br/>
        密码：<input type="text" name="password" id="password"><br/>
         <input type="button"  onclick="login()" value="login">
         <input type="button" onclick="register()" value="register">
     </form>
</body>
</html>
